:root {
    --appleBlue: #3481d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    height: 100vh;
    padding: 6rem 2rem;
    background: var(--background);
}

.container {
    padding: 10px;
}

.add {
    width: 50px;
    height: 40px;
    position: relative;
    background-color: var(--appleBlue);
    border-radius: 5px;
    border: 1px solid darkgray;
}

.add a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.title {
    padding: 10px 2px;
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.title a {
    font-size: 18px;
    float: right;
    color: var(--appleBlue);
    text-decoration: none;
}

.tv-series {
    display: flex;
    flex-wrap: wrap;
}

.show-box {
    box-shadow: rgba(65, 65, 65, 0.5) 0, 15px, 30px 0;
    width: calc(100% / 6 - 40px);
    margin: 20px;
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(101, 101, 101, 0.2) 5px 10px;
}

.show-title {
    margin-top: 50px;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
}

.episodes {
    color: rgb(60, 60, 60);
    text-align: center;
    margin: 15px 25px;
    font-size: 90%;
}

span {
    font-weight: bolder;
}

/* --------ANIMATION------------ */

.tv-series .show-box img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tv-series .show-box:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
    box-shadow: 0;
}

.tv-series .show-box .show-title {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tv-series .show-box:hover .show-title {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.tv-series .show-box .episodes {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tv-series .show-box:hover .episodes {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}